<div class="jumbotron">
    <h2>Check your code style</h2>
    <p> Input your code </p>
    <textarea id="code" class="form-control" ng-model="code" style="font-family:monospace; min-width:250px; min-height:200px;"/>
    </textarea>
    <br/>

    <button ng-click="saveCode()" class="btn btn-success"> Check code </button>
    <p>Select .java file</p>

    <div id="file-name"></div>

    <input id="file-upload" onchange="fileChange(this, 'file-name')" type="file" file-model="javaFile"/>

    <label for="file-upload" class="btn btn-info custom-file-upload">
        Choose File
    </label>
    <button ng-click="uploadFile()" class="btn btn-success" >Upload File</button>
    <br/>

    <div id="highlighted-div"  ng-show='showCode' >
      
    </div>

    <div ng-show="loading">
        <div class="text-success"><h3>Loading...</h3></div>
    </div>
    <div ng-model="result" ng-repeat="message in result">
        <p>{{ message }}</p>
    </div>
    <div ng-show="accepted" class="text-success">
        <h3>Code style accepted <span class="glyphicon glyphicon-ok"></span></h3>
    </div>
</div>
