<div class="jumbotron">
    <h1>Check your code style</h1>
    <p>Select .java file</p>

    <div id="file-name">

    </div>
    <label for="file-upload" class="btn btn-info custom-file-upload">
        Choose File
    </label>
    <input id="file-upload" onchange="fileChange(this)" type="file" file-model="javaFile"/>
    <button ng-click="uploadFile()" class="btn btn-success" >Upload File</button>
    <br/>
    <div ng-show="loading">
        <div class="text-success"><h3>Loading...</h3></div>
    </div>
    <div ng-model="result" ng-repeat="message in result">
        <p>{{ message }}</p>
    </div>
    <div ng-show="accepted" class="text-success">
        <h3>Code style accepted <span class="glyphicon glyphicon-ok"></span></h3>
    </div>
</div>